/* Styles.css Tue.Apr.14.2015 Jaiden King 
 * ALL EDITS SHOULD BE MADE IN THE SOURCE FILE, NOT THE TWINE PASSAGE
 */

.character {
   position: fixed;
   top:120px;
   max-width:600px;
   max-height:300px;
   z-index: -9;
}
.background,#settings {
   position: fixed;
   top:20px;
   left:300px;
   width:700px;
   height:500px;
   z-index: -10;
}
#settings {
   z-index: 0;
   padding: 20px;
   background-color:rgba(0,0,0,0.9);  
}
.passage {
   transition-duration: 0s;

}
.passage a {
   text-decoration: underline;
   color: #FFF;
}
.passage a:hover {
   color: #999;
}
#title_screen{
   position: fixed;
   top: 170px;
   left: 350px;
   font-size: 30pt;
   line-height: 40pt;
   z-index: 10;
}
#text_meter_outer, #auto_meter_outer {
   display: inline-block;
   height: 20px;
   width: 300px;
   background-color: #400;
   padding: 5px;
   z-index: 10;
}
#text_meter_inner, #auto_meter_inner {
   display: inline-block;
   height: 20px;
   width: 150px;
   background-color: #F00;
}
#continueButton {
   position: fixed;
   top: 495px;
   left: 300px;
   z-index: 11;
   text-align: right;
   width: 690px;
}
#menuButtons {
   position: fixed;;
   top: 380px;
   left: 300px;
   z-index: 11;
   text-align: right;
   width: 690px;
}
#textBox {
   z-index: -1;
   position: fixed;
   top: 400px;
   left: 300px;
   width: 680px;
   height: 100px;
   padding: 10px;
   border: 2px solid gray;
   background-color: #000;
}
#passageBox {
   z-index: 11;
   position: fixed;
   top: 400px;
   left: 300px;
   width: 680px;
   height: 100px;
   padding: 10px;
}
#speaker {
   z-index: 5;
   position: fixed;
   top: 380px;
   left: 300px;
   width: 200px;
   height: 60px;
   padding: 5px;
   font-size: 14pt;
}
.stroke {
   -webkit-text-stroke: 1px black;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
#splash {
   font-size: 18pt;
   line-height: 20pt;
   position: fixed;
   top: 100px;
   left: 700px;
   width: 300px;
   height: 300px;
   text-align: center;
   vertical-align: center;
   -moz-transform:rotate(20deg);
   -webkit-transform:rotate(20deg);
   -o-transform:rotate(20deg);
   -ms-transform:rotate(20deg);
}
#characters, .portrait {
   z-index: -9;
}
.portrait {
   position: fixed;
   height: 500px;
   top: 20px;
   left: 500px;
}